@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

/* Conditional card height */

.content.collapsed {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.content.expanded {
  max-height: 350px;
  overflow: hidden;
  transition: max-height 0.3s ease;
}
